@charset "utf-8";

body{
 overflow-x: hidden;
}
  h1,h2,h3{
  display: flex;
  justify-content: center;
  align-items: center;
  
}

 h1{
  padding: 20px 0;
}
h2 {
  
}
h3 {
  font-size: 15px;
}


  .first {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    margin: 5px 5px;
    padding: 0 10px; 
    justify-content: center;
    
  }

  .card {
    gap: 5px;
  }
  .card img {
  width: 100%;
  height: auto;
}

/* * {
	outline: 1px solid magenta;
} */