@charset "utf-8";


* {
  box-sizing: border-box;
}


h1 {
  font-size: 20px;
  text-align: center;
  margin: 10px;
  margin-bottom: 10px;
}
h2 {
  font-size: 11.5px;
  text-align: center;
  margin: 10px 3px;
  padding: 10px;
  height: 60px;
}

.card img{
  margin-left: 10px;
}

.song {
  flex: 1;
  text-align: left;
}

.song ul li {
  margin-bottom: 2px;
}


.sets-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 8px;
  margin: 2px;
}

.theme {
  display: flex; /* カードとソングを横並び */
  gap: 10px;
  align-items: flex-start;
}


.theme .song ul {
  list-style: disc; /* ● */
  padding-left: 20px;
  padding-right: 10px;
  font-size: 12px;
}

.theme .card {
  width:100px;  /* カードの横幅 */
  
  flex-shrink: 0; /* 縮まないようにする */
}
.theme .card img {
  width: 80%;
  
  object-fit: cover; /* 縦横比を維持してはみ出す部分をカット */
  display: block;
}

.all img {
  width: 100%;
  max-width: 100%;
  height: auto;
}

.main {
  max-width: 100%;
  overflow-x: hidden;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}